---
layout: default
---
<div class="post-container">
    <div class="post-night-sky">
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>
    </div>

    <header class="post-header">
        <a href="{{ site.url }}/category/{{ page.category }}/">{{ page.category }}</a>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{{ page.date | date: "%Y-%m-%d" }}</time>
        </div>
    </header>

    <section class="post-section">
        <div class="markdown-body">
            {{ content }}
        </div>
    </section>
</div>